.aboutPage {
  h3 {
    color: #FF676D;
  }
}
.summary {
  display: flex;
  @media(max-width: 875px) {
    flex-wrap: wrap;
  }
}
.aboutPicCard {
  padding: 10px;
  margin-right: 4px;
  height: 450px;
  width: 450px;
  background-color:lighten(#71C7EC, 5%) !important;
  @media(max-width: 875px) {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
}
.aboutDescription {
  padding: 10px;
  margin-left: 4px;
  flex: 1;
  background-color:#71C7EC !important;
  @media(max-width: 875px) {
    margin-left: 0;
    margin-top: 8px;
    padding-bottom: 50px;
  }
}
.aboutSectionIcons {
  margin: 50px 0;
  text-align: center;
  @media(max-width: 1008px) {
    margin: 10px 0;
  }
}
.aboutSectionIcons i {
  color: black !important;
}
.educationSection {
  display: flex;
  @media(max-width: 875px) {
    display: block;
  }
}
.skills, .courses, .education {
  background-color:darken(#107DAC, 5%) !important;
  padding: 10px;
  flex-grow: 1;
  margin-top: 8px;
  h4 {
    color: lighten(burlywood, 5%);
  }
}
.skills {
  background: #1EBBD7 !important;
  h4 {
    color: black;
  }
}
.courses {
  margin-left: 8px;
  background-color: #005073 !important;
  color: #fff !important;
  font-weight: 100;
  padding-bottom: 50px;
  @media(max-width: 875px) {
    margin-left: 0;
  }
  h4 {
    color: burlywood;
  }
}
.skillItemsWrapper {
  @include standard-flex;
}

.skillItem {
  text-align: center;
  margin: 5px;
  padding: 5px;
  flex-grow: 1;
}
.skillItem img {
  width: 50px;
  border-radius: 3px;
}
.skillItem p {
  margin-top: 3px;
  color: black;
}
.bigEducationItem {
  font-weight: 100;
  @media(max-width: 397px) {
    padding-left: 0 !important;
  }
  div {
    color: #fff !important;
  }
}
.fa-university {
  color: lighten(burlywood, 5%) !important;
  font-weight: 100;
  @media(max-width: 397px) {
    display: none;
    visibility: hidden;
  }
}
.courseItem {
  margin-top: 5px;
  font-size: 14px;
  @media(max-width: 1157px) {
    margin-top: 3px;
    font-size: 13px;
  }
  @media(max-width: 875px) {
    font-size: 14px;
  }
}
.fa-certificate, .fa-briefcase {
  color: burlywood;
}
.workExperienceGraph {
  background-color:lighten(#71C7EC, 20%) !important;
  padding: 10px;
  margin-top: 8px;
}
.workExperienceWrapper {
  color: #fff !important;
  font-weight: 100;
  background-color:#005073 !important;
  padding: 10px;
  margin-top: 8px;
}
.workExperienceSummary {
  display: flex;
  @media(max-width: 1200px) {
    flex-wrap: wrap;
  }
}
.workExperienceItem {
  padding: 5px;
  margin: 5px;
  flex: 1;
  @media(max-width: 1200px) {
    width: 45%;
    flex: auto;
  }
  @media(max-width: 875px) {
    width: 100%;
    margin-top: 20px;
  }
}
.workExperienceItemHeader {
  @include standard-flex($justify-content: space-between);
}
.workDates {
  color: burlywood;
}
.workExperienceGraph {
  overflow-x: hidden;
}
.aboutGraphWrapper {
  width: 102%;
  height: 400px;
}
.recharts-default-legend {
  position: relative;
  left: 40px;
}