html, body, #app {
  height: 100%;
}
body, #app, .App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  background-color: #E8EBF0;
}
.App {
  min-height: 100%;
  flex: 1 auto;
}
.content {
  flex: 1 0 auto;
  margin-top: 8px;
  padding: 50px;
  @media(max-width: 875px) {
    padding: 30px 15px;
  }
}
.textCenter {
  text-align: center;
}
// NAVIGATION MENUES
.topMenuBottomWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebarWrapper {
  padding-top: 75px;
}
.sideBarIcon {
  margin-right: 5px;
}
.bottomMenuBox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.bottomMenuItem div, .bottomMenuItem span {
  color: #555 !important;
}
.bottomMenuButtonActive div, .bottomMenuButtonActive span {
  color: rgb(0, 188, 212) !important;
}

// FOOTER
.footer {
  background-color: #333 !important;
  color: #fff !important;
  margin-top: 8px;
  padding: 27px;
  margin-bottom: 73px;
  @media(min-width: 875px) {
    margin-bottom: 7px;
  }
}
.footer p {
  margin-bottom: 5px;
}
.footerSmallText {
  font-size: 14px;
  margin-top: 5px;
  color: #E8EBF0;
}
.footerIcons i {
  padding: 5px;
}

// CONTACT PAGE
// .contactPage {
//   padding: 50px 10px;
//   margin-top: 8px;
//   @media(max-width: 875px) {
//     padding: 25px 10px;
//   }
// }
.contactInnerWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media(max-width: 875px) {
    display: block;
  }
}
.contactWrapper, .socialWrapper, .phoneAndLocationWrapper {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @media(max-width: 875px) {
    padding: 25px;
  }
}
.socialWrapper {
  align-items: flex-start;
}
.phoneAndLocationWrapper {
  display: inline-block;
  @media(max-width: 875px) {
    display: block;
    text-align: center;
  }
}
.phoneAndLocationWrapper a {
  color: #00BCD4;
  text-decoration: none;
}
.subHeader {
  @media(max-width: 875px) {
    text-align: center;
    padding: 0 !important;
  }
}