.App {
  margin-bottom: 73px;
  @media(min-width: 875px) {
    margin-bottom: 0;
  }
}
.topMenuBottomWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideBarIcon {
  margin-right: 5px;
}
.bottomMenuBox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.bottomMenuItem div, .bottomMenuItem span {
  color: #555 !important;
}
.bottomMenuButtonActive div, .bottomMenuButtonActive span {
  color: rgb(0, 188, 212) !important;
}