@mixin standard-flex($justify-content:center, $align-items: center, $flex-wrap: wrap, $flex-direction: row) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
  flex-direction: $flex-direction;
}