// NAVIGATION MENUES
.topMenuBottomWrapper {
  @include standard-flex;
}
.sidebarWrapper {
  padding-top: 75px;
}
.sideBarIcon {
  margin-right: 5px;
}
.bottomMenuBox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.bottomMenuItem div, .bottomMenuItem span {
  color: #555 !important;
}
.bottomMenuButtonActive div, .bottomMenuButtonActive span {
  color: rgb(0, 188, 212) !important;
}