.portfolioPage {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.portfolioPageHeader {
  padding: 25px 10px;
  display: flex;
  background-color: lightgrey !important;
  h3 {
    margin: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    right: 0px;
    @media(max-width: 875px) {
      font-size: 20px;
    }
    @media(max-width: 618px) {
      text-align: right;
      right: 30px;
    }
    span {
      @media(max-width: 500px) {
        display: none;
        visibility: hidden;
      }
    }
  }
  > div {
    height: 100%;
    display: flex;
    margin-top: -15px;
  }
}
.fa-eye {
  color: darken(#0084BF, 5%);
  position: relative;
  top: 5px;
  left: 14px;
}
.projectsOuterContainer {
  margin-top: 8px;
  background-color:lightgrey !important;
  @include standard-flex;
  flex: 1 0 auto;
}
.projectsInnerContainer {
  @include standard-flex;
  padding: 50px 10px;
  max-width: 1350px;
  @media(max-width: 668px) {
    padding: 10px 10px 50px 10px;
  }
}
.projectCard {
  margin: 8px;
}
.cardOverlay {
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6),rgba(0,0,0,1));
}
.projectImage {
  cursor: pointer;
  width: 300px !important;
  height: 300px;
  @media(max-width: 668px) {
    width: auto !important;
    height: auto;
  }
}
.cardActionsWrapper {
  @include standard-flex($justify-content: flex-end)
}